# --- Dependências ---
node_modules/

# --- Playwright ---
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# --- Build e distribuição ---
dist/
coverage/
logs/

# --- Arquivos de lock e debug ---
package-lock.json
npm-debug.log
yarn-error.log

# --- Arquivos temporários ---
*.log
*.tmp
*.bak
*.swp
*.swo

# --- Configurações locais ---
*.DS_Store
.idea/
.vscode/

# --- Controle de versão ---
.git/