
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
package-lock.json
npm-debug.log
yarn-error.log
dist/
coverage/
logs/
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
.idea/
.vscode/
.git/
